/home/omar/ubuntu[[:space:]]Files/Dr.[[:space:]]Mostafaa[[:space:]]saad[[:space:]]live/Machine[[:space:]]learning[[:space:]]Mostafaa[[:space:]]saad/projects/1[[:space:]]project-nyc-taxi-trip-duration/**/*.pkl filter=lfs diff=lfs merge=lfs -text
/home/omar/ubuntu[[:space:]]Files/Dr.[[:space:]]Mostafaa[[:space:]]saad[[:space:]]live/Machine[[:space:]]learning[[:space:]]Mostafaa[[:space:]]saad/projects/1[[:space:]]project-nyc-taxi-trip-duration/**/*.csv filter=lfs diff=lfs merge=lfs -text
.**/*.pkl filter=lfs diff=lfs merge=lfs -text
.**/*.csv filter=lfs diff=lfs merge=lfs -text
**/*.htm filter=lfs diff=lfs merge=lfs -text
**/*.ipynb filter=lfs diff=lfs merge=lfs -text
**/*.pdf filter=lfs diff=lfs merge=lfs -text
**/*.zip filter=lfs diff=lfs merge=lfs -text
**/**/*.zip filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.csv filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.zip filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.pkl filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.html filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.pdf filter=lfs diff=lfs merge=lfs -text
New[[:space:]]York[[:space:]]City[[:space:]]Taxi[[:space:]]Trip[[:space:]]Duration/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
